*
{
    font-size: 100%;
    font-weight: normal;
    font-style: normal;

    margin: 0;
    padding: 0;
}

img
{
    border: 0;
}

ol,
ul
{
    list-style: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

body
{
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

nav ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: none;
}

a
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    background: transparent;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

input,
select
{
    vertical-align: middle;
}

.clearfix:after
{
    display: block;
    clear: both;

    content: '';
}

html,
body
{
    font-family: Verdana, '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}

header.top-view
{
    display: block;

    width: 100%;
    min-width: 960px;
    min-height: 500px;

    background: #399;
}

header.top-view h1
{
    height: 300px;

    background: url('../img/ong_title.png') center top no-repeat;
    background-size: 400px 300px;
}

header.top-view h1 span
{
    display: none;
    visibility: hidden;
}

header.top-view ul.top-gnav
{
    margin: 100px 0 0;

    text-align: center;
}

header.top-view ul.top-gnav li
{
    font-size: 18px;

    display: inline-block;

    margin: 0 5px;
}

header.top-view ul.top-gnav li a
{
    display: block;

    padding: 10px 15px;

    text-decoration: none;

    color: white;
    border-radius: 10px;
}

header.top-view ul.top-gnav li a:hover
{
    color: #399;
    background: rgba(255,255,255,.8);
}

nav.floating-nav
{
    position: fixed;
    z-index: 100;
    top: -62px;
    left: 0;

    display: block;

    width: 100%;
    min-width: 960px;
    height: 60px;

    border: 1px solid rgba(255,255,255,.2);
    border-width: 0 0 1px;
    background: #399;
}

nav.floating-nav div.floating-nav-wrapper
{
    width: 960px;
    height: 60px;
    margin: 0 auto;
}

nav.floating-nav div.floating-nav-wrapper h1
{
    float: left;

    width: 240px;
    height: 40px;
    margin: 10px 0;

    background: url('../img/ong_floating_title.png') center top no-repeat;
    background-size: 240px 40px;
}

nav.floating-nav div.floating-nav-wrapper h1:hover
{
    cursor: pointer;
}

nav.floating-nav div.floating-nav-wrapper h1 span
{
    display: none;
    visibility: hidden;
}

nav.floating-nav div.floating-nav-wrapper ul
{
    margin: 0 0 0 260px;
}

nav.floating-nav div.floating-nav-wrapper ul li
{
    font-size: 16px;
    line-height: 60px;

    float: left;

    height: 60px;
    margin: 0;
}

nav.floating-nav div.floating-nav-wrapper ul li a
{
    display: block;

    padding: 0 20px;

    text-decoration: none;

    color: white;
}

nav.floating-nav div.floating-nav-wrapper ul li a:hover
{
    color: #399;
    background: rgba(255,255,255,.8);
}

div.wrapper
{
    width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 150px 30px;
}

div.wrapper.sub1
{
    background: url('../img/sub1.png') right center no-repeat;
    background-size: 400px 400px;
}

div.wrapper.sub2
{
    background: url('../img/sub2.png') left center no-repeat;
    background-size: 400px 400px;
}

div.wrapper.sub3
{
    background: url('../img/sub3.png') right center no-repeat;
    background-size: 400px 400px;
}

div.wrapper.sub4
{
    background: url('../img/sub4.png') left center no-repeat;
    background-size: 400px 400px;
}

div.wrapper.sub5
{
    background: url('../img/sub5.png') right center no-repeat;
    background-size: 400px 400px;
}

div.wrapper.tech1
{
    background: url('../img/tech1.png') left center no-repeat;
    background-size: 400px 400px;
}

div.wrapper.tech2
{
    background: url('../img/tech2.png') right center no-repeat;
    background-size: 400px 400px;
}

div.wrapper.tech3
{
    background: url('../img/tech3.png') left center no-repeat;
    background-size: 400px 400px;
}

article
{
    line-height: 1.2;

    display: block;

    width: 100%;
    min-width: 960px;
    min-height: 300px;
}

article.align-center
{
    background: white;
}

article.align-center .sentence-area
{
    margin: 0 150px;
}

article.align-left
{
    background: white;
}

article.align-left .sentence-area
{
    margin: 0 400px 0 0;
}

article.align-right
{
    background: #eee;
}

article.align-right .sentence-area
{
    margin: 0 0 0 400px;
}

article.movie
{
    background: black;
}

article h1
{
    font-size: 24px;
    font-weight: bold;

    padding: 20px 0;

    text-align: center;

    color: #1a4d4d;
}

article h1 span
{
    font-size: 16px;
    font-weight: bold;

    display: block;

    margin: 0 0 20px;

    opacity: .7;
}

article p
{
    font-size: 16px;
    line-height: 1.5em;
}

ul.spec-list
{
    width: 300px;
    margin: 20px auto;
}

ul.spec-list li
{
    padding: 10px 0;

    list-style: disc;
}

ul.spec-list li span
{
    display: block;

    padding: 10px 10px 0;

    color: gray;
}

img.concept-visual
{
    width: 600px;
    height: 400px;
    margin: 50px 0 0;
}

a.border-btn
{
    display: block;

    width: 300px;
    margin: 20px auto 0;
    padding: 10px 20px;

    text-align: center;
    text-decoration: none;

    color: #399;
    border: 2px solid #399;
    border-radius: 5px;
}

a.border-btn:hover
{
    background: #eee;
}

article.popup-movie
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
}

article.popup-movie div.popup-box
{
    position: fixed;
    z-index: 6;
}

article.popup-movie div.popup-close-button
{
    line-height: 35px;

    position: absolute;
    top: -40px;
    right: 0;

    width: 100px;
    height: 30px;
    padding: 5px 10px;

    text-align: center;

    color: white;
    border-radius: 5px 5px 0 0;
    background: black;
}

article.popup-movie div.popup-close-button:hover
{
    cursor: pointer;

    background: #333;
}

article.popup-movie div.popup-shade
{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.7);
}

a.sentence-link
{
    line-height: 32px;

    display: block;
    float: right;

    width: auto;
    height: 30px;
    padding: 10px 20px 10px 30px;

    text-decoration: none;

    color: #399;
    background: url('../img/link.png') left center no-repeat;
    background-size: 20px 20px;
}

a.sentence-link:hover
{
    color: gray;
    background: url('../img/link_hover.png') left center no-repeat;
}

div.content-separater
{
    font-size: 24px;
    font-weight: bold;

    width: 100%;
    min-width: 960px;
    margin: 0;
    padding: 20px 0;

    text-align: center;

    color: white;
    border: 1px solid rgba(255,255,255,.2);
    border-width: 1px 0;
    background: #399;
}

footer
{
    width: 100%;
    min-width: 960px;
    height: 100px;
    padding: 600px 0 0;

    text-align: center;

    color: white;
    background: #399 url('../img/footer.png') center center no-repeat;
}

footer a
{
    text-decoration: none;

    color: white;
}
